.quiz-screen {
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.disabled-link {
  pointer-events: none;
}

.height-card {
  @media screen and (max-width: 576px) {
    min-height: 80vh;
  }
}

// jedna klasa, dziedziczenie
